@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@531&family=Montserrat+Alternates:ital,wght@1,600&display=swap');

body {
    background-color: darkblue;
    font-family: 'Montserrat Alternates', sans-serif;
    background: url(../img/background.jpg) fixed ;
    background-size: cover;
}

h2, span {
    color: yellow;
}

.stop_watch {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    margin: 30px 0;
    height: 70px;
}

#zero,
#sta,
#null_min,
#minutes,
#null_sec,
#seconds,
#pause,
#gap {
    color: yellow;
    font-size: 30px;
}

#zero, #pause, #notice {
    display: none;
}

.clock_face {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    margin: 20px 0;
}

#gap {
    margin: -2px 5px;
}

#notice {
    margin: 0 0 18px 0;
}

#greeting, #notice, a {
    text-align: center;
    color: #fee715;
}

#weight,
#many_times {
    margin: 15px;
    height: 25px;
    background-color: #0050f1;
    border-radius: 9px;
    color: #fee715;
}

input[type="number"]::-webkit-input-placeholder {
    color: #fee715;
}

input[type="number"]::-moz-placeholder {
    color: #fee715;
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    border: none;
    outline: 0;
}

input:focus {
    background-color: #FFFACD;
}

input[type="submit"] {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    background-color: yellow;
}

input[type="button"],
input[type="reset"],
.forgot_pass {
    border-radius: 10px;
    background-color: yellow;
    color: black;
    font: 400 13px Arial;
}

form {
     text-align: center;
}